/target
target
.metadata
test-output
.classpath
*.log
*.iml
*.idea
m2e-wtp
.DS_Store
*.class
test-output
*.log
*.bak
*.mdr
bin
consegne
ARM/**/*.d
Debug/**/*.d
ARM/**/*.o
Debug/**/*.o
ARM/MyDrone
Debug/MyDrone
*.tmp
syslog
syslog.*
ARM
Debug
*.tmp
*.dtb
*.dtbo
